<!DOCTYPE html>
<html lang="en" th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<table class="table"
       style="width: 500px; height: 300px; margin-top: 200px; margin-left: 500px">
    <thead class="thead-dark">
    <tr>
        <th scope="col"><b>ID</b></th>
        <th scope="col"><b>NAME</b></th>
        <th scope="col"><b>RAISING</b></th>
        <th scope="col"><b>CINEMA</b></th>
        <th scope="col"><b>SESSION</b></th>
        <th scope="col"><b>PLACE</b></th>


    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${find_id.id}"></td>
        <td th:text="${find_id.name}"></td>
        <td th:text="${find_id.rating}"></td>
        <td th:text="${find_id.cinema.name}"></td>
    </tr>
    </tbody>
</table>


</body>

</html>