<!DOCTYPE html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>movie</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url(https://million-wallpapers.ru/wallpapers/2/90/451322782742528/oboi-chernyj-fon-iskustvo.jpg)">
<div class="jumbotron text-center" style="height: 300px">
    <tr style="margin-bottom: 50px">
        <th> <img src="https://images.aif.by/007/555/1fa244fc7a4a0e1f67112359f6660366.jpg"
                  class="img-rounded" alt="Cinque Terre" style="width: 150px; height: 100px;"></th>


        <th> <img src="https://media.kudago.com/thumbs/l/images/list/19/8e/198e76ab4a007cccae6e2e5d2c7fa570.jpg"
                  class="img-rounded" alt="Cinque Terre" style="width: 200px; height: 130px;"></th>



        <th> <img src="https://sun9-52.userapi.com/impg/rjAb_0p4ZJbDPYuZvZZ7UjGBuJxQwVt5PCK-jQ/It5YKdZSUtM.jpg?size=807x567&quality=96&sign=a2af117f1ab4efa8b8faf96122ad1c91&type=album"
                  class="img-rounded" alt="Cinque Terre" style="width: 250px; height: 150px; "></th>



        <th> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcPp1k5vuRHL_Pijr_itSACvbo3MtgEU6ZBxVeHMUG9UDdEEp1NtEuIsXc5v9aanFY96k&usqp=CAU"
                  class="img-rounded" alt="Cinque Terre" style="width: 200px; height: 130px; margin-bottom: 10px">
        </th>

        <th> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQykk-eJ-h9X1WBlq4a9Ffb_pTNUMUq9mKYrHoKQJXsFOILW0FToR-NaQ_R3KYL5rEOC70&usqp=CAU"
                  class="img-rounded" alt="Cinque Terre" style="width: 150px; height: 100px">
        </th>

    </tr>

    <a th:href="@{/cinemaMvc/find_all}"><h2><strong>Buy Tickers In One Click</strong></h2></a>
    <p><small>All the latest movie premieres are waiting for you!</small></p>

    <div class="btn-group" style="margin-left: 1430px">
        <a th:href="@{/cinemaMvc/find_all}">
            <button type="button" class="btn btn-link" style="color: darkcyan" ><strong>AllCinemas</strong></button>
        </a>
        <a th:href="@{/movie/find_all}" >
            <button type="button" class="btn btn-link" style="color: darkseagreen"><strong>AllMovies</strong></button>
        </a>
        <a th:href="@{/session/find_all}">
            <button type="button" class="btn btn-link" style="color: darkolivegreen"><strong>AllSessions</strong></button>
        </a>
        <a th:href="@{/room/find_all}">
            <button type="button" class="btn btn-link"><strong>AllRooms</strong></button>
        </a>

    </div>


</div>

<table class="table" style="width: 900px; height: 500px; margin-top: 10px; margin-left: 250px;">
    <thead>
    <tr>
        <th scope="col" style="color: aliceblue"><b>ID</b></th>
        <th scope="col" style="color: aliceblue"><b>NAME</b></th>
        <th scope="col" style="color: aliceblue"><b>RATING</b></th>
        <th scope="col" style="color: aliceblue"><b>CINEMA</b></th>
        <th scope="col" style="color: aliceblue"><b>PLACES</b></th>
        <th scope="col" style="color: aliceblue"><b>SESSION</b></th>
        <th>
            <a class="btn btn-primary" th:href="@{/room/save}" role="button" >AddRoom</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room:${room_all_id}">
        <td th:text="${room.id}" style="color: aliceblue"></td>
        <td th:text="${room.name}" style="color: aliceblue"></td>
        <td th:text="${room.rating}" style="color: aliceblue"></td>
        <td>
            <form>
                <a class="btn btn-success" th:href="@{/cinemaMvc/find_all}" role="button"><strong>CINEMA</strong></a>
            </form>
        </td>
        <td>
            <form>
                <a class="btn btn-success" th:href="@{/place/find_all}" role="button" ><strong>PLACES</strong></a>
            </form>
        </td>
        <td>
            <form>
                <a class="btn btn-success" th:href="@{/session/find_all}" role="button" ><strong>SESSION</strong></a>
            </form>
        </td>
        <td><a class="btn btn-primary" th:href="@{/room/find_by_id/{id}(id=${room.id})}" role="button" >Enter</a></td>
        <!--        <td><a class="btn btn-danger" th:href="@{/cinemaMvc/update_cinema/{id}(id=${cinemaMvc.id})}" role="button" >del</a></td>-->
    </tr>

    </tbody>

</table>

</body>

</html>